<div class= "user">
 <div class="user-info">
<div class="photo">
<img class="image-placeholder"src="<%= user.photo %>" alt="add-image"/>
</div>
 <div class="user_card_detail">
<h2><%= link_to user.name, user %></h2>
<p class='posts'>Number of posts: <%= user.posts_counter %></p>
</div>
</div>
</div>